:root{
    --main : #043846;
    --secondary : #e2ac52;
    --light : #fdfdfd;
    --dark : #303841;
    --salmon : #ec756f;
}

/* My card */
.cards{
    box-shadow: 0px 3px 10px rgb(0 0 0/0.2);
}

/* My Background Color */
.my-bg-main{
    background-color: var(--main);
}

.my-bg-secondary{
    background-color: var(--secondary);
}

.my-bg-light{
    background-color: var(--light);
}

.my-bg-dark{
    background-color: var(--dark);
}

.my-bg-salmon{
    background-color: var(--salmon);
}

/* My Font Color */
.my-main{
    color: var(--main)
}

.my-secondary{
    color: var(--secondary)
}

.my-light{
    color: var(--light) !important
}

.my-dark{
    color: var(--dark)
}

.my-salmon{
    color: var(--salmon)
}

/* My Font Size */
.my-fs-10{
    font-size: 10px;
}

.my-fs-12{
    font-size: 12px;
}

.my-fs-15{
    font-size: 15px;
}

.my-fs-16{
    font-size: 16px;
}

.my-fs-18{
    font-size: 18px;
}

.my-fs-20{
    font-size: 20px;
}

.my-fs-25{
    font-size: 25px;
}

.my-fs-30{
    font-size: 30px;
}

/* Cards */
